{% extends 'base.html.twig' %}

{% block title %}Recherche Spotify{% endblock %}

{% block body %}

    <div class="d-flex align-items-center me-2">

        <h1>Mes Favoris</h1>

 </div>

    <hr>

    {% if fav is not empty %}
        {% for track in fav %}
            <div class="d-flex gap-2 m-5 p-2" >
                <div class="w-25">
                    <img src="{{ track.pictureLink }}" alt="{{ track.name }}" width="100" height="100">
                    <a href="{{ path('app_track_show',{"id":track.spotifyId}) }}">{{ track.name }}</a>
                </div>
                <div class="w-50" >
                        {% include 'track/_delete_from_like.html.twig' %}
                </div>

            </div>



        {% endfor %}
    {% else %}
        <p>Aucun résultat trouvé.</p>
    {% endif %}


{% endblock %}

