{% extends 'base.html.twig' %}

{% block title %}Recherche Spotify{% endblock %}

{% block body %}
    <h1>Recherche de morceaux</h1>
    {{ render(path('app_include_search_form')) }}

    <hr>

    <h2>Résultat pour {{ search }} : </h2>

    {% if tracks is not empty %}
        {% for track in tracks %}
            <p>
                <a href="{{ path('app_track_show',{"id":track.id}) }}">{{ track.name }}</a>
            </p>


        {% endfor %}
    {% else %}
        <p>Aucun résultat trouvé.</p>
    {% endif %}


{% endblock %}

